/* start global */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
    ul{
    list-style-type: none ;
    margin:0;
    }
    a{
    text-decoration: none;
    }
    body{
    font-family: 'Jost', sans-serif;
 
    }
    ::selection{
    background-color: black;
    color:white;
    }
  

    /* End global */

     /* start loading */
       

.loading{
    position: fixed;
    width:100%;
    height:100vh;
    background-color: white;
    z-index:99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(1);
    transform-origin:0% 100%;
    transition: 1s;
    
  }
      
  .loader {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top:35%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #1e0024;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #BA68C8;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
      
      /* End loading */

      /* start header */
.header .container-fluid{
width:95%;
}
.header a,.header i{
    font-size: 15px;
    color:rgb(134, 134, 134);
}
.header a:hover{
    color: #000;;
}
.header i{
font-size: 12px;
}
.header span{
font-size: 15px;
color: #000;
}
.header .back-img img{
 width:100%;   
}
.header .prod.active{
    border:1px solid #000;
}
.header .prod.active img{
transform: scale(0.8);
}
.header .title{
    font-size: 26px;
    color: #000;
}
 @media screen and (max-width:767px) {
    .header .prodd{
        display: flex;
        order: 2;
        margin-top: 20px;
    }

   
    .container-fluid{
    width: 100% !important;
    margin: auto;
    }
    .header .prod-img{
    width:87% !important;
    /* margin-left: 40px; */
    }
    
     .header .prod-img img{
      width:100%;

      
     }
     /* .header .prod.active img{
      transform: scale(1.4); 
      margin-top: 20px;
     }
     .header .prod.prod2 img{
      transform: scale(1.4);
     } */
  
 }
      /* End header */