/* start global */
*{
margin:0;
padding:0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
ul{
list-style-type: none ;
margin:0;
}
a{
text-decoration: none;
}
body{
font-family: 'Jost', sans-serif;

}
::selection{
background-color: black;
color:white;
}



/* End global */

/* start loading */
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.loadingg{
  height:100vh;
  z-index:9999;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  transition:0.9s;
  transform:scale(1);
  /* transform-origin:0% 100%; */
}
.store-container {
  line-height:0;
  margin: 50px auto;
  width:70px;

}
.stroke {
  stroke: #9014c9;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.round-end {
  stroke-linecap: round;
}
#store {
  animation: fadeIn 0.8s ease-in;
}
.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #7c28db 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}
@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  -webkit-animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}
@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}
.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}
#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}
#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}
#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}
.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}
#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}
@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}
.cat-shadow {
  transform-origin: 1115px 625px;
}
#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}
#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}
@keyframes catHi {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%,
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%,
  100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%,
  60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}
.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}
@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%,
  100% {
    opacity: 0;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%,
  100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}
.tshirt {
  animation: fadeInOut 42s 10s ease-in forwards infinite;
}
.cap {
  animation: fadeInOut 42s 24s ease-in forwards infinite;
}
.ball {
  animation: fadeInOut 42s 38s ease-in forwards infinite;
}
#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}
@keyframes fadeInOut {
  5%,
  12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}
.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}
.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}
@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}
.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}
.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}
/* End loading */


/* start navbar */

.navbar-scroll{
  background-color:white !important;
  box-shadow:0 0 23px 0 rgba(0,0,0,0.095);
  padding-bottom:20px;
  transition:1s;
}


.navbar .navbar-brand{
width:85px !important;
}
.navbar .navbar-brand .logo{
width:100%;
}
.navbar .nav-item .nav-link{
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    color: black;
    letter-spacing:2px;

} 

.navbar .navbar-nav .nav-item{
 position: relative;
    
}
.navbar .container-fluid{
width:95% !important;
}
.navbar .navbar-nav .nav-item a.nav-link::after{
 content:"";
 position: absolute;
 border-bottom: 1px solid var(--border,#3b3b3b);
 width:0%;
 background-color: black;
 bottom:0px;
 left:0px;
 transition: width 0.5s;
 
 
}


.navbar .icons.med{
background-color:white;
box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
padding-top:10px;

}

.navbar .icons.med li a i.wishlist .wishlist-count,.navbar .icons.large li a i .wishlist-count{
font-size:10px;
position: absolute;
z-index:999;
right:-12px;
color: white;
background-color:#FD2A2A;
width:17px;
height:17px;
line-height:17px;
border-radius:50%;
top:-10px;
right:-18px;

}
.navbar i .cart-count,.navbar .icons.large li i .cart-count{
    font-size:10px;
    position: absolute;
    z-index:999;
    right:-12px;
    color: white;
    background-color:#FD2A2A;
    width:18px;
    height:18px;
    line-height:18px;
    border-radius:50%;
    top:-10px;
    right:-20px;  
    text-align: center;
  
}
.navbar .icons.icons.large li  i{
    transition: 0.3s;
}
.navbar .icons.large li  i:hover{
transform:translateY(-4px);

}
.navbar .icons li a i{
 color: black;   
}
.navbar .navbar-nav .nav-item a.nav-link:hover::after{
    width: 100%;
}
.navbar .navbar-toggler:focus,.navbar .navbar-toggler{
box-shadow: none !important;
border: none;
}

.navbar .offcanvas .offcanvas-title,.offcanvas-cart.offcanvas .offcanvas-title{
    border-bottom: 1px solid rgba(0,0,0,0.095);
    width:100%;
    font-size:18px;
}
.navbar .offcanvas .offcanvas-body,.offcanvas-cart.offcanvas .offcanvas-body{
position: relative;
top:18%;
}
.navbar .offcanvas .offcanvas-body a,.offcanvas-cart.offcanvas .offcanvas-body a{
color: black;
position: relative;


}
.navbar .offcanvas .offcanvas-body a::after,.offcanvas-cart.offcanvas .offcanvas-body a::after{
   content: "";
   position: absolute;
   display: block;
   width:100%;
   height:2px;
   background-color: black;
   bottom:-5px;
   left:0;
   transform:scaleX(1);
   transform-origin:0% 50%;
   transition: transform 0.6s;

   
   
}
.navbar .offcanvas .offcanvas-body a:hover,.offcanvas-cart.offcanvas .offcanvas-body a:hover{
color:#3b3b3b
}
.navbar .offcanvas .offcanvas-body a::before,.offcanvas-cart.offcanvas .offcanvas-body a::before{
content: "\f101";
font-family: FontAwesome;
position: absolute;
right:-22px;
top:2px;
opacity:0;
transition:0.5s;
}

.navbar .offcanvas .offcanvas-body a:hover::before,.offcanvas-cart.offcanvas .offcanvas-body a:hover::before{
opacity:1;
}

.navbar .offcanvas .offcanvas-body a:hover::after,.offcanvas-cart.offcanvas .offcanvas-body a:hover::after {
transform-origin:100% 50%;
transform:scaleX(0);
background-color: #3b3b3b;

}
.offcanvas .offcanvas-header button,.modal-header button{
   background-color: white;
   box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
   border-radius:50%;
   padding:15px;
}
.offcanvas .offcanvas-header button span::after,.modal-header button span::after{
 content: "";
 position: absolute;
height:15px;
width:1px;
background:black;
top:-7px;
left:0;
transform:rotate(50deg);
transition: 0.4s;
    
}
.offcanvas .offcanvas-header button span::before,.modal-header button span::before{
    content: "";
    position: absolute;
   height:15px;
   width:1px;
   background: black;
   top:-7px;
   left:0;
   transform:rotate(140deg);
   transition:0.4s;
       
   }
   .offcanvas .offcanvas-header  button:focus,.modal-header button:focus{
    border: none;
    box-shadow: none;
   }
   .offcanvas .offcanvas-header  button:hover span::after,.modal-header button:hover span::after{
    transform:rotate(-90deg);
   }
   .offcanvas .offcanvas-header  button:hover span::before,.modal-header button:hover span::before{
    transform:rotate(90deg);

   }
   .offcanvas.header-list{
    width:300px !important;;
   }
   .offcanvas.header-list .offcanvas-body li a{
    font-size:12px;
    transition: 0.5s;

   }
   .offcanvas.header-list .offcanvas-body li a:hover{
   transform: scaleX(1.1);
   }
   .offcanvas.header-list .offcanvas-body li.list-btn a {
    width:86% !important;
    margin-top:36px !important;
    position: relative;
    z-index:999;
    font-size:14px !important;
    
   }
   .offcanvas.header-list .offcanvas-body .menue{
    position: relative;
    bottom:70px;
   }
   .offcanvas.header-list .offcanvas-body .usd-menue ul,.offcanvas.header-list .offcanvas-body .en-menue ul{
    width:100%; 
    background-color:white;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    /* opacity:0; */
    transition:0.4s;
    transform-origin:0%;
    transform:scaleY(0);
    font-size:14px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    position: relative;
    z-index:99999;
   

    
   }
   .offcanvas.header-list .offcanvas-body .usd-menue ul li:hover,.offcanvas.header-list .offcanvas-body .en-menue ul li:hover{
    color: black;
   }
   


   .offcanvas.header-list .offcanvas-body .usd-menue button::after,.offcanvas.header-list .offcanvas-body .en-menue button::after{
    content: "\f107";
    font-family:FontAwesome;
    position: absolute;
    font-size: 7px;
    bottom:8px;
    right: 0;
    transform:var(--tran,rotate(0deg));
    
   }
   .offcanvas.header-list .offcanvas-body .usd-menue button:hover,.offcanvas.header-list .offcanvas-body .en-menue button:hover{
    color:rgba(0,0,0,0.5);
   }
  
   /* .offcanvas.header-list .offcanvas-body .usd-menue ul,.offcanvas.header-list .offcanvas-body .en-menue ul{
    width:100%;
    height:100px;
    background-color:white;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    transform: scaleY(0);
    
   } */
  

   .offcanvas.header-list .offcanvas-body li.list-btn a::after {
    content: "";
    position: absolute;
    width:0%;
    height: 100%;
    background-color:var(--back,black) ;
    z-index:-1; 
    top:0;
    left:0;
     transform:scaleX(0);
    transition:transform 0.5s;
    transition-timing-function:ease-in-out
   }
   .offcanvas.header-list .offcanvas-body li.list-btn a:hover{
    color: white;
    transform:scaleX(1);


   }
   .offcanvas.header-list .offcanvas-body li.list-btn a:hover::after{
    width:100%;
    transform:scaleX(1);
    
   }

/* End navbar */

/* start carousel */
.carousel .carousel-indicators button{
display: inline-block;
width:7px;
height:7px;
border-radius: 50%;
background-color: black ;
position: relative;
margin-left:15px;


}

.carousel-indicators [data-bs-target]{
    opacity:1;
    
    
}
.carousel-item.one {
    background-image: url('../img/slider-2.jpg');
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:60%;
}
.carousel-item.two {
    background-image: url('../img/slider-1.jpg');
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:60%;
}
.carousel-item.three {
    background-image: url('../img/slider-3.jpg');
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:60%;
}

.carousel .carousel-indicators button.active::after{
    content: "";
    position: absolute;
    width:22px;
    height:22px;
   border:1px solid black;
    border-radius: 50%;
    top:-8px;
    left:-7px;

    

}

.carousel .carousel-indicators button:hover::after {
    content: "";
    position: absolute;
    width:22px;
    height:22px;
   border:1px solid black;
    border-radius: 50%;
    top:-8px;
    left:-7px;
    
    
}

/* End carousel */


/* start modal */

.modal .modal-dialog .modal-title{
    width:100%;
   text-align: center !important;
   font-size: 25px !important;
   font-weight: 500;

}
.modal .modal-dialog .modal-body label.remember{
font-size: 14px;
font-weight:500;

}

.form-check-input:focus{
box-shadow:none;
}

.modal .modal-dialog .modal-body input.check:checked{
background-color: black;
border:none !important;
}

.modal .modal-dialog .modal-body input.check{
border-radius:50%;
color: black;
border:1px solid #3b3b3b;

}
.modal .modal-dialog .modal-body  a.lost-pass{
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color:black !important;
}
.modal .modal-dialog .modal-body  a.lost-pass::after{
    content: "";
    position: absolute;
    width:100%;
    height:1px;
    bottom:-3px;
    left:0;
    transform:scaleX(1);
    background-color: black;
    transition: 0.5s;
}
.modal .modal-dialog .modal-body  a.lost-pass:hover::after{
    transform:scaleX(0.5);
    
}

.modal .modal-dialog .modal-footer button{
background-color: black !important;
text-transform: uppercase !important;
font-size: 12px;
font-weight: 400;
width: 100%;
}
.modal .modal-dialog .modal-footer .one{
    background-color: rgba(0,0,0,0.3) !important;
    border: none;
    transition: 0.3s;
    }
    .modal .modal-dialog .modal-footer .one:hover{
    background-color: black !important;
    }
    .modal input{
        box-shadow: none !important;
        
    }
    .modal input:focus{
    border-color:rgba(0,0,0,0.3);
    }

/* modal search */


.modal.search .modal-dialog{
    max-width:100% !important;
    height:100% !important;
  
    
}
.modal.search .modal-dialog .modal-content{
height: 100% !important;
}
.modal.search .modal-dialog .modal-content .modal-title{
text-align:left !important;
font-size:25px !important;
}
.modal.search .modal-dialog .modal-content .modal-body input::placeholder{
font-size:27px !important;
}
.modal.search .modal-dialog .modal-content .modal-body i{
 font-size:20px !important;
 color:rgba(0,0,0,0.7);
 position: relative;
 right:30px;
}
.modal.search input[type="search"]{
font-size: 30px;
}
.modal.search input[type="search"]::-webkit-search-cancel-button{
display:none;
}
/* modal search */
/* End modal */

/* start header carousal */
.header-info {
height:100%;
top:36%;
left:10%;
}

.header-info p:first-child{
    font-size:10px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;

}
.header-info p.para2{
    font-size: 14px;
    font-family:'Jost', sans-serif;
    font-weight:400;

}
.header-info h1{
    font-size:3.5rem;
    font-family: 'Jost', sans-serif;
    font-weight:300;
}
.header-info a{
 font-family: 'Jost', sans-serif;
background-color:#F7D0A9;
font-size: 10px;
font-weight:700;
color: rgb(0, 0, 0);
text-transform:uppercase;
transform:skewX(0);
transition: scale 0.5s;
outline: none;

}
.header-info a::after{
    content: "\f178";
    font-family:FontAwesome;
    position: absolute;
    margin-left:7px;
   font-size:15px;
   top:4px
   }
   

.header-info a::before{
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  background-color: black;
  top:0;
  left:0;
  transform: scaleX(0);
  transition:0.3s;
  opacity:0;
  

}
.header-info a:hover{
    color:white;
   background-color:#F7D0A9;;
}

.header-info a:hover::before{
    width: 100%;
   transform: scaleX(1);
   opacity:1;
   z-index: -1; 
}
 @media  screen and (min-width:768px) and (max-width:991px) {
    .header-info {
        top:36%;
        left:6%;
        
    }  
    .header-info h1{
    font-size:3rem;
    }
}

@media  screen and (max-width:700px){
    .header-info {
        top:40%;
        left:4%;
    }  
    .header-info h1{
    font-size:1.7rem;
    }
    .header-info p.para2{
        font-size:8px;
    }
    .carousel-item.one,.carousel-item.two,.carousel-item.three{
        height:60vh;
        background-position-x:45%;
    }
    .offcanvas.offcanvas-end{
    width:85%;
    }

    
    
}
@media  screen and (min-width:501px) and (max-width:767px){
    .header-info {
        top:30%;
        left:10%;
    }  
    .header-info h1{
    font-size:2rem;
    }
    .header-info p.para2{
        font-size:8px;
    }
}
    
/* End header carousal */


/* start product slick */
.product.carousel{
    /* background-color:#F0F0F0; */
}

 
  .prod-list.carousel-item {
    margin-left:-6px;
   
   
  }
  .prod-list.carousel-item .prod-img .imghot::after{
    content: "Hot";
    position: absolute;
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 25px;
    background-color: #AC2F2F;
    color: white;
    left:50px;
    top:50px;
    z-index:999;
    font-size:14px;

  }
  .prod-list.carousel-item .prod-img {
    max-width:100%;
  }
 
  
  .prod-list.carousel-item .prod-img .saleimg::after{
    content: "-33%";
    position: absolute;
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 25px;
    background-color:black;
    color: white;
    left:50px;
    top:50px;
    z-index:999;
    font-size: 14px;
  }
  @media  screen and (min-width:768px) and (max-width:900px){
    .prod-list.carousel-item .prod-img .imghot::after{
      left:30px;
    } 
    .prod-list.carousel-item .prod-img .saleimg::after{
      left:30px;

    }
  } 
  @media  screen and (max-width:475px){
    .prod-list.carousel-item .prod-img .imghot::after{
      left:30px;
      top:44px;
      width:20;
      height:20px;
      padding: 0 20px;
    } 
    .prod-list.carousel-item .prod-img .saleimg::after{
      left:35px;
      width:20;
      height:20px;
      padding: 0 20px;

    }
  }
 
  .prod-list.carousel-item .prod-img img:nth-child(1){
  
   opacity: 1;
   visibility: visible;
   -webkit-transition: all .5s ease;
   /* transition: all .5s ease; */
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   max-width:100%;
   height: auto;
  }
  .prod-list.carousel-item .prod-img img:nth-child(2){
    opacity:0;
    visibility: visible;
    max-width: 100%;
    height: auto;
    
  }
  .prod-list.carousel-item .prod-img img.shirtyellow ,.prod-list.carousel-item .prod-img img.shirtblack,.prod-list.carousel-item .prod-img img.shirtbrown{
    opacity:0;
    visibility: visible;
    max-width: 100%;
    height: auto;
    position: absolute;
    top:0
    
  }
  .prod-list.carousel-item .prod-img img.shoes{
    opacity:0;
    visibility: visible;
    max-width: 100%;
    height: auto;
    position: absolute;
    top:70px;
    
  }
  .prod-list.carousel-item .prod-img:hover img:nth-child(2){
    opacity:1;
    visibility: visible;

  }
  .prod-list.carousel-item .prod-img:hover img:nth-child(1){
    opacity:0;
    visibility: hidden;

  }
  .prod-list.carousel-item .prod-img img{
    width:370px;
    padding:37px;
  }
 
  
   @media  screen and (max-width:375px){
    .prod-list.carousel-item {
      margin-left:-23px;
     
    }
    .prod-list.carousel-item .prod-img img{
      width:230px;
      margin-left:-18px;
      
      
    } 
    

  } 
  @media  screen and (min-width:376px) and (max-width:499px){
    .prod-list.carousel-item {
      margin-left:-10px;
     
    }
    .prod-list.carousel-item .prod-img img{
      width:250px;
      margin-left:-18px;
     
    } 
    

  }
  @media  screen and (min-width:500px) and (max-width:600px) {
    .prod-list.carousel-item {
      margin-left:-20px;
     
    }
    .prod-list.carousel-item .prod-img img{
      width:290px;
     
     
    } 
   
  }
 
  @media  screen and (min-width:600px) and (max-width:700px){
    .prod-list.carousel-item .prod-img img{
      width:350px;
     
    }
  }
  @media  screen and (min-width:701px) and (max-width:790px){
    .prod-list.carousel-item {
      margin-left:-20px; 
    }
    
    .prod-list.carousel-item .prod-img img{
      width:340px;
    
    }
    .prod-list.carousel-item .prod-img .imghot::after{
      left:44px;
      top:44px;
     
    } 
    .prod-list.carousel-item .prod-img .saleimg::after{
      left:44px;
      width:20;
   

    }
    
  }
  @media  screen and (min-width:791px) and (max-width:900px){
    .prod-list.carousel-item {
      margin-left:-20px; 
    }
    
    .prod-list.carousel-item .prod-img img{
      width:300px;
    
    }
    .prod-list.carousel-item .prod-img .imghot::after{
      left:50px;
      top:44px;
     
    } 
    .prod-list.carousel-item .prod-img .saleimg::after{
      left:50px;
      width:20;
   

    }

  }

  @media  screen and (min-width:992px) and (max-width:1024px){
    .prod-list.carousel-item {
      margin-left:-22px; 
    }
    
    .prod-list.carousel-item .prod-img img{
      width:380px;
    
    }
  }

  @media  screen and (min-width:1024px) and (max-width:1200px){
    .prod-list.carousel-item {
      margin-left:-40px; 
    }
    
    .prod-list.carousel-item .prod-img img{
      width:320px;
    
    }
  }


 
   .prod-list.carousel-item .prod-img a h6{
     font-size: 14px;
     color:black !important;
     margin-left:45px;
     margin-top:-12px;
     font-weight: 400;
   }
   .prod-list.carousel-item .prod-img a p{
    color: rgb(160, 160, 160);
    margin-left:45px;

   }
   
   [data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:all 0.4s;

    /* padding: 4px; */
}
[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  top:-50px;
  left:-9px;
  background: #000;
  color: #fff;
  padding: 4px 3px;
  font-size: 12px;
  line-height: 1.4;
  min-width:50px;
  text-align: center;
  opacity:0;
  transition:all 0.4s;

  /* opacity: 0; */
  /* transform: scaleX(0); */
 
}
[data-tooltip]::after{
  content:"";
  position: absolute;
  width: 0;
	height: 0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top: 10px solid black;
  top:-25px;
  left:50%;
  opacity: 0;
  /* transform: scaleX(0); */
  /* transform: translateX(-50%); */
  transition:all 0.4s;
}
a[data-tooltip]::before {
min-width:80px;
}
[data-tooltip]:hover::before{
  /* transform: scaleX(1); */
  opacity: 1;
  top:-30px
}
[data-tooltip]:hover::after{
  opacity: 1;
  top:-8px
}

   .prod-list.carousel-item .prod-img  .colors span{
    display: inline-block;
    width:20px;
    height:20px;
    border-radius:50%;
    text-align: center;
    transition:0.4s;
    position: relative;
    top:-50px;
   
   }
   .prod-list.carousel-item .prod-img  .colors span:hover{
    border:1px solid black;
   }
   .prod-list.carousel-item .prod-img  .colors span:nth-child(1){
    background-color:#C69A02;

   }
   .prod-list.carousel-item .prod-img .colors span:nth-child(2){
    background-color:black;

   }
   .prod-list.carousel-item .prod-img  .colors span:nth-child(3){
    background-color:#E6D4B4;

   }

   .prod-list.carousel-item .prod-img  .colors span.swhite{
    background-color:white;

   }
   .prod-list.carousel-item .prod-img  .colors span.shoesdark{
    background-color: #2B3732;
   }
   
   .prod-list .prod-img .icons-link{
    position: relative;
    bottom:170px;
    left:90px;
   }
   
   .prod-list .prod-img .icons-link a:nth-child(1),.prod-list .prod-img .icons-link a:nth-child(3){
    position: relative;
    bottom: 15px;
   opacity:0;
   visibility: hidden;
    transition: 0.4s;
   }
   .prod-list .prod-img:hover .icons-link a:nth-child(1),  .prod-list .prod-img:hover .icons-link a:nth-child(3){
    position: relative;
    bottom:0px;
     opacity:1;
     visibility: visible;
   }

   .prod-list .prod-img .icons-link a:nth-child(2),.prod-list .prod-img .icons-link a:nth-child(4){
    position: relative;
    bottom: -15px;
    opacity:0;
    visibility: hidden;
    transition: 0.4s;
   }
   .prod-list .prod-img:hover .icons-link a:nth-child(2),  .prod-list .prod-img:hover .icons-link a:nth-child(4){
    position: relative;
    bottom:0px;
    opacity:1;
    visibility: visible;

    
   }
   .prod-list .prod-img:hover .icons-link{
    min-height: fit-content;
   }
   .prod-list .prod-img:hover .icons-link a:hover {
    background-color: black;
    
   }
   @media screen and (max-width:375px){
    
    .prod-list .prod-img .icons-link a:not(a:nth-child(2)){
      display: none;
    }
    .prod-list .prod-img .icons-link a:nth-child(2){
     
    opacity:1;
      bottom:100px;
      right:70px;
     background-color: white;
    }
    .prod-list .prod-img:hover .icons-link a:nth-child(2){
      bottom:100px;;
    }
   }

   @media screen and (min-width:376px) and (max-width:475px){
    
    .prod-list .prod-img .icons-link a:not(a:nth-child(2)){
      display: none;
    }
    .prod-list .prod-img .icons-link a:nth-child(2){
     
    opacity:1;
      bottom:120px;
      right:80px;
     background-color: white;
    }
    .prod-list .prod-img:hover .icons-link a:nth-child(2){
      bottom:120px;;
    }
   }


    .prod-list .prod-img .shoescounter{
      position:absolute;
      bottom:80px;
      left:50px ;
      opacity:1;
      background-color: #000;
      color:white !important;
      padding:7px 15px;
     
    }
    .prod-list .prod-img:hover .shoescounter {
      opacity: 0;
    }
    @media  screen and (min-width:768px) and (max-width:900px){
      .prod-list .prod-img .shoescounter{
        left:20px
      }
    }
    @media  screen and (max-width:600px){
      .prod-list .prod-img .shoescounter{
        left:-10px;
        padding: 4px 10px;
        bottom:67px;
        font-size:13px;
      }
    }
   
    

   .prod-list .prod-img:hover .icons-link a:hover i{
    color:white
   }


   .prod-list .prod-img .icons-link a{
    background-color: white;
    display: inline-block;
    width: 40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    margin:0 3px;
   }

   @media screen and (max-width:500px) {
    .prod-list .prod-img .icons-link a{
      
      width: 35px;
      height:35px;
      line-height:35px;
      
     }
    .prod-list .prod-img .icons-link{
    
      bottom:140px;
      left:40px;
     }
   }
   @media  screen and (min-width:500px) and (max-width:600px) {
    .prod-list .prod-img .shoescounter{
      left:30px
    }
    .prod-list .prod-img .icons-link{
    
      bottom:140px;
      left:80px;
     }
  }

   @media  screen and (min-width:992px) and (max-width:1200px){
    .prod-list .prod-img .icons-link{
    
      bottom:160px;
      left:60px;
     }
   }

   .prod-list .prod-img .icons-link a i {
    color: black;
    font-size: 18px;
    
   }
   .carousel h2{
    font-size: 40px;
    font-weight:300;
   }
   .carousel .counter{
    background-color:rgba(0,0,0,0.045);
    width:240px;
    position: relative;
    left:50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:18px;
    font-weight: 500;

   }
   span.dott{
    color: red;
    font-weight: 500;

   }

  .slick-prev,
  .slick-next {
    cursor: pointer;
    position: absolute;
    top:36%;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: center;
    background: transparent;
    /* width: 36px;
    height: 36px; */
    /* border: 2px solid black;
    border-radius: 5px; */
    z-index: 1;
    border: none;
    transition: 0.3s linear;
  }
  
  .slick-prev {
    left: 20px;
  }
  
  .slick-next {
    right: 10px;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    /* background: #0be881;
    color: white;
    border: none; */
  }
  /* End product slick */

  /* start categories */
  .cat{
  background-color:rgba(255,255,255,0.095);
  opacity:1;
  }
  .cat .container-fluid{
    width:96%;
    margin: auto;
  }
  .cat .cat-img{
    overflow: hidden;
    
   
  }
  .cat .cat-img img{
    transition: transform 0.6s;
  }
  
  .cat .cat-img:hover img{
    transform: scale(1.1);
   
    
  }
  .cat .cat-img.access-img{
    max-width:98%;

  }
  .cat .cat-img a{
    bottom:20px;
    left:20px;
    color: black;
    background-color: white;
    padding:5px 25px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
  }
  .cat .cat-img a::after{
   content: "\f178";
   font-family:FontAwesome;
   position: absolute;
   left:-18px;
   top:50%;
   transform: translateY(-50%);
   transition: 0.3s;
  }
  .cat .cat-img a p{
    transition:0.3s;
  }
  .cat .cat-img a:hover::after{
    left:40%;
    
  }
  .cat .cat-img a:hover p{
    transform:translateX(120px);

  }
 .cat-title h2{
font-size:30px;
text-align: center;
font-weight:300;

 }
 @media screen and (max-width:767px) {
  .cat-title h2{
    font-size:20px;
    
     }
 }
   

  /* End categories */

  /* start show */
   .show .container-fluid{
    width:96%;
   }

   .show .back-img  button.btn2{
    position: absolute;
    display: inline-block;
    left:15%;
    top:70%;
   }
   .show .back-img  button{
   position: absolute;
    display: inline-block;
    left:60%;
    top:20%;
    height:35px;
    width:35px;
    line-height:35px;
    background-color: white;
    border-radius: 50%;
    transition:0.5s;

   }
   .show .back-img  button:hover{
    background-color: black;
  
   }
   .show .back-img  button:hover i{
    color:white !important;
   
   }
   .show .back-img  button::after{
   content: "";
   position: absolute;
   width:35px;
   height:35px;
   border: 1px solid white;
   border-radius:50%;
   animation-name: grow;
   animation-duration:1.5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
  
  
   
   }
   
   .show .back-img  button:hover::after{
    border:1px solid black;
   }

   @keyframes grow {
from{
width:35px;
height:35px;
}
to{
width:55px;
height:55px;
opacity:0;
}
   }
   .show .d-product{
    width:230px;
    height:300px;
    position: absolute;
    top:30%;
    left:45%;
    text-align: center;
    background-color: white;
    transform:scale(0);
    transition: 0.5s;
   }
   .show .d-product h6{
    font-size: 14px;
    font-weight:400;
    margin-top:11px;
    color: black;
   }
   .show .d-product p{
     font-size: 16px;
     color:  rgb(160, 160, 160);
   }
   .show .d-product img{
    padding-top:20px;
    padding-bottom:10px;
    width:80% !important;
   }
   .show .d-product::after{
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right:20px solid transparent;
    border-bottom:20px solid white;
    top:-10px;
    right: 0;
   }

   @media  screen and (min-width:768px) and (max-width:800px) {
    .show .d-product{
      top:35%;
      left:34%;
    
     }
   }
   @media  screen and (min-width:801px) and (max-width:900px) {
    .show .d-product{
      top:35%;
      left:35%;
    
     }
   }
   @media  screen and (min-width:901px) and (max-width:990px) {
    .show .d-product{
      top:35%;
      left:37%;
    
     }
   }
   @media  screen and (min-width:991px) and (max-width:1024px) {
    .show .d-product{
      top:35%;
      left:40%;
    
     }
   }
   @media  screen and (min-width:1025px) and (max-width:1200px) {
    .show .d-product{
      top:33%;
      left:42%;
    
     }
   }

   .offcanvas.offcanvas-bottom{
    height:67vh;   
   }
   @media  screen and (max-width:500px) {
    .offcanvas.offcanvas-bottom{
      height:57vh;   
     }
   }
   .offcanvas .offcanvs-product img{
   width:250px;
   height:250px;
   }
   .offcanvas-body{
    overflow: hidden;
   }

   .offcanvas .offcanvs-product h6{
    font-size: 14px;
    font-weight:400;
    margin-top:20px;
    color: black;
    margin-bottom: 10px;
   }
   .offcanvas .offcanvs-product p{
     font-size: 16px;
     color:  rgb(160, 160, 160);
   }

   .offcanvs-hat .offcanvas-title{
    font-size: 12px;
   }

   .offcanvs-hat .offcanvas-header::after{
     content: "";
     position: absolute;
     border-bottom: 1px solid rgba(0,0,0,0.2);
     bottom: 0;
     left:12px;
     width:95%;
  
   }
   .show .d-products{
    width:230px;
    height:300px;
    position: absolute;
    top:13%;
    left:15%;
    text-align: center;
    background-color: white;
    transform:scale(0);
    transition: 0.5s;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.095);
   }

   .show .d-products h6{
    font-size: 14px;
    font-weight:400;
    margin-top:11px;
    color: black;
    width:80%;
    margin-left: 25px;
  
   }
   .show .d-products p{
     font-size: 16px;
     color:  rgb(160, 160, 160);
   }
   .show .d-products img{
    padding-top:20px;
    padding-bottom:10px;
    width:80% !important;
   }
   .show .d-products::after{
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right:20px solid transparent;
    border-top:20px solid white;
    bottom:-10px;
    left: 0;
   }

   @media  screen and (min-width:768px) and (max-width:800px) {
    .show .d-products{
      top:-30%;    
     }
   }
   @media  screen and (min-width:801px) and (max-width:900px) {
    .show .d-products{
      top:-25%;
      
    
     }
   }
   @media  screen and (min-width:901px) and (max-width:990px) {
    .show .d-products{
      top:-15%;
     
    
     }
   }
   @media  screen and (min-width:991px) and (max-width:1024px) {
    .show .d-products{
      top:-10%;
    
    
     }
   }
   @media  screen and (min-width:1025px) and (max-width:1100px) {
    .show .d-products{
      top:-4%;
     
    
     }

   }
   @media  screen and (min-width:1101px) and (max-width:1200px) {
    .show .d-products{
      top:0%;
     
    
     }
    }
    @media  screen and (min-width:1201px) and (max-width:1250px) {
      .show .d-products{
        top:7%;
       
      
       }
      }
      @media  screen and (min-width:1251px) and (max-width:1300px) {
        .show .d-products{
          top:10%;
         
        
         }
        }

        
      .show .show-info h3{
       font-size: 34px;
       font-weight: 400;
       width:500px;
      }
      .show .show-info p{
        font-size:14px;
        font-weight: 400;
        /* width:680px; */
        /* background-color: blue; */
        color: rgb(134, 134, 134);
       }
       .show .show-info a{
        font-size:14px;
        font-weight: 400;
        color: black;
        position: relative;
        
       }
       .show .show-info a::after{
       content: "";
       position: absolute;
       width:100%;
       height: 1px;
       background-color: black;
       bottom:-5px;
       right:0px;
       transition:0.4s;
       opacity:1;
       }
       
       .show .show-info a:hover::after{
        width:0%;

       }
       @media screen and (max-width:767px) {
        .show .show-info{
          text-align: center;
          /* text-align: center; */
        }
        .show .show-info h3{
          font-size:27px;
          font-weight: 400;
          width:80%;
          
         }
         .show .show-info h3{
          font-size:27px;
          font-weight: 400;
          width:100%;
          text-align: center;
          
         }
       }
      
  /* End show */

  /* start elemenator */
  
  .elementor {
    /* border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding:40px 0; */
    overflow-x: hidden;
  }

  .elementor .ele-info{
    padding:40px 0;
    border:1px solid #e5e5e5;
    transition:0.5s;
  }
  .elementor .ele-info:hover{
    transform: translateY(-10px);
  }
   .elementor p{
    font-weight: 500;
    color:rgb(134, 134, 134);
  
   }
   
   .elementor img:hover{
    position: relative;
    animation-name:s;
    animation-iteration-count:3;
    animation-direction: alternate;
    animation-duration:0.2s;

   }

 
   
   @keyframes s{
    from{
      left:-10px;
    }
    to{
    left:10px;
    }
   }
   @media screen and (max-width:767px) {
    .ele-info{
      margin-bottom:35px;
    }
   }
   @media screen and (min-width:768px) and (max-width:991px){
    .ele-info{
      margin-bottom:35px;
    }
   }
  /* End elemenator */



/* start reviews  */
  .carousell {
    position: relative;
    margin: 100px auto;
   
  }
  
  .carousell-item {
    margin-left:14px;
    border:1px solid #e5e5e5;
    padding: 15px 18px;
    height: 300px;
  
   
    
   
  }
  .carousell-item .name{
    font-size: 14px;
    font-weight: 500;
  }
  .carousell-item .smith-start{
    color: #A0A0A0 !important;
  }
  .carousell-item .start i{
     color:#FCC153;
     font-size:13px;
  }
  .carousell-item .quot{
    font-size:40px;
    color:rgb(222, 222, 222);
  }
  .carousell-item .title{
    font-size: 22px;
  }
  .carousell-item p{
    font-size: 14px;
    line-height: 24px;
    color: rgb(134, 134, 134);
  }
  .carousell-item img {
    width:20%;
    border-radius:50%;
  }
  
  .slick-prevv,
  .slick-nextt {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    text-align: center;
    z-index: 1;
    transition: 0.3s linear;
  }
  
  .slick-prevv {
    top:50%;
    left:0px;
    background-color: white;
    box-shadow: 0 0 23px 0 rgba(0,0,0,0.15);
  }
  
  .slick-nextt {
    top:50%;
    right:-15px;
    background-color: white;
    box-shadow: 0 0 23px 0 rgba(0,0,0,0.15);
  
  }
  
  
  .slick-prevv:hover,
  .slick-nextt:hover {
    background:#FCC153 !important;
    color: white;
    border: none;
  }
 
  /* End reviews   */

  /* start subscribe */
  .sub{
    background-color:#f0f0f0;
    padding:60px 0;
    overflow-x: hidden;
  }
.sub h4{
  font-size: 24px;
  font-weight: 500;
  color: #000;
  padding-bottom: 10px;
}
.sub p{
  font-size: 14px;
  font-weight: 500;
  color: rgb(109, 109, 109);

}
.sub input[type="email"]::placeholder{
  font-size:14px;
 
}
.sub input[type="email"]{
  border-bottom: 1px solid black !important;
  border-radius: 0;
  box-shadow:none ;
  background-color: transparent;
  width: 50%;
  
}
@media  screen and (max-width:767px) {
  .sub input[type="email"]{
    width:100%;
  } 
}
.sub button{
  font-size: 11px;
  font-weight: 700;
  color: #000;
  letter-spacing:1.5px;
  border-bottom: 1px solid black !important;
  margin-left:20px;
  margin-top: 21px;
 
}
.sub button:hover{
  border:1px solid black !important;
  transition:2s;
}
  /* End subscribe */

  /* start instgram */
  .carouseli{
    position: relative;
    margin: 100px auto;
    overflow-x: hidden;
   
  }
  
  .carouseli-item {
    overflow: hidden;  

  }
  
  .carouseli-item img {
    width:100%;
    position: relative;
    transition: 0.5s;
    
   
  }
  .carouseli-item a{
    position: relative;
  }
 .carouseli-item a::after{
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
  opacity: 0;
 }
 .carouseli-item a::before{
  content: "\f16d";
  position: absolute;
  font-family:FontAwesome;
  top: 50%;
  left:50%;
  transform: translateX(-50%);
  z-index:999;
  font-size:20px;
  color: white;
  opacity:0;
 }
 .carouseli-item:hover a img{
transform: scale(1.2);
 }
 .carouseli-item:hover a::after,.carouseli-item:hover a::before{
  opacity:1;
 }
  
   
  
  
 
  .slick-previ,
.slick-nexti {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 34px;
  font-size: 24px;
  text-align: center;
  z-index: 1;
  transition: 0.3s linear;
}
  .slick-previ{
  left: 0;
  background-color: white !important;
  }
  .slick-nexti{
right:0;
background-color: white !important;
  }
  /* End instgram */

  /* start footer1 */
.footer1{
  background-color: #F1F1F1;
  overflow-x: hidden;
}
@media screen and (min-width:768px) and (max-width:991px) {
  .footer1 .contact{
    margin-bottom: 40px;
   
  }
 
}
.footer1 h4{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing:1px;
  color:#000;
}


.footer1 .contact p{
  font-size: 14px;
  color: #000;
  
}
.footer1  span{
  font-size: 14px;
  color: rgb(134, 134, 134);
  display: inline-block;
 
}
.footer1  a:hover span{
color:black !important;
}
.footer1 .subscribe input{
  padding: 10px 60px 10px 22px;
  box-shadow: none;
}
.footer1 .subscribe input[type="email"]::placeholder{
  font-size:14px;
  
}
.footer1 .subscribe form i{
  background-color: black;
  padding:0 10px;
  color:white;
  position: relative;
  right:0px;
  height:44px;
   display: flex;
   align-items: center;
}
.footer1 .social-icon i{
  font-size: 14px;
  color: #000;
  background-color: white;
  width:35px;
  height:35px;
  text-align: center;
  line-height:35px;
  border-radius: 50%;
  margin:0 4px;
  transition: 0.4s;
}

.footer1 .social-icon a:hover i{
  background-color: #000;
  color: white;
  transform: rotate(360deg);
}
  /* End footer1 */

  /* start footer2 */
.footer2{
  background-color: #000;
}
.footer2 p{
  font-size: 14px;
  color:rgb(134, 134, 134);

}
.footer2 .container-fluid{
  width:90%;
}
@media  screen and (min-width:768px) and (max-width:1024px) {
  .footer2 .container-fluid{
    width:100% !important
  }
  .footer2 .col-links{
    display: flex;
    justify-content: end !important;
  }
  
}

@media  screen and (max-width:767px){
  .footer2 .col-links{
    display: flex;
    justify-content: center !important;
    margin-bottom: 13px;
  }
  .footer2 .col-copy{
    display: flex;
    justify-content: center;
  }
}


.footer2 a{
  text-transform: uppercase;
  color:white;
  font-size: 11px;
  font-weight: 500;
  letter-spacing:2px;
   

}
.footer2 .links a{
  position: relative;
}
.footer2 .links a::after{
  content: "";
  position: absolute;
  width:100%;
  transform: scaleX(0);
  height:1px;
  background-color: white;
  bottom:-7px;
  left:0;
  transition: 0.5s;

}


.footer2 .links a:hover::after{
  transform: scaleX(1);

}

  /* End footer2 */

  /* scroll to top */
  #progress {
    position: fixed;
    bottom: 95px;
    right: 30px;
    height: 46px;
    width: 46px;
    /* display: none; */
    place-items: center;
    border-radius: 50%;
    /* box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2); */
    cursor: pointer;
    border:1px solid #fff;
    
    
  }
 
  #progress-value {
    display: block;
    height:40px;
    width:40px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
  
  }
  @media screen and (max-width:600px){
    #progress {
      bottom:65px;
      right:10px;
      width:36px;
      height:36px;
    }
    #progress-value{
      width:30px;
      height:30px;
    }
  }
  #progress-value i{
    font-size:14px;
    transition:0.5s;
   
  }
  #progress-value:hover i{
    position: absolute;
    top:10px;
  }
